nav {
    background: white;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);

    span.acc {
        font-size: 30px;
        line-height: inherit;
    }

    .btn-ask {
        &:hover {
            background: #f5365c;
        }
    }
}