<!DOCTYPE html>
<html lang="en">

<head>
    {{template "meta"}}
    <title>Home</title>
    {{template "styles"}}
</head>

<body>
    {{template "navbar"}}
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    {{template "left-sidebar"}}
                </div>
                <div class="col-md-8">
                    <h5>feed</h5>
                </div>
                <div class="col-md-2">
                    {{template "right-sidebar"}}
                </div>
            </div>
        </div>
    </section>
</body>

</html>