<!DOCTYPE html>
<html lang="en">

<head>
    {{template "meta"}}
    <title>Profile</title>
    {{template "styles"}}
    <style>
        .avatar {
            border: 0.3rem solid rgba(255, 255, 255, 0.3);
            margin-top: -5rem;
            margin-bottom: 1rem;
            max-width: 9rem;
            width: 100px;
            height: auto;
        }

        .card-img-top {
            height: 100px;
        }

        .card-text {
            font-size: 12px;
        }
    </style>
</head>

<body>
    {{template "navbar"}}
    <section class="pt-4">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                    <div class="card">
                        <img class="card-img-top"
                            src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/oslo.jpg"
                            alt="Bologna">
                        <div class="card-body text-center">
                            <img class="avatar rounded-circle"
                                src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/robert.jpg"
                                alt="Bologna">
                            <h4 class="card-title">Robert Downey Jr.</h4>
                            <h6 class="card-subtitle mb-2 text-muted">Famous Actor</h6>
                            <p class="card-text">Robert John Downey Jr.'career has included critical and
                                popular success
                                in his youth, followed by a period of substance </p>
                            <a href="#" class="btn btn-info">Follow</a>
                            <a href="#" class="btn btn-outline-info">Message</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <h3>asked questions</h3>
                </div>
            </div>
        </div>
    </section>
    {{template "scripts"}}
</body>

</html>